global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: "app"

rule_files:

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["prometheus-mykyta-garbuzov.cloud.okteto.net"]

  - job_name: "app"
    static_configs:
      - targets: ["app-mykyta-garbuzov.cloud.okteto.net"]
